<footer class="footer">
	<div class="container">
		<div class="footer__line"></div>
		<div class="footer__inner">
			<div class="footer__info">
				<a href="#">
					<img src="assets/img/logo.svg" alt="">
				</a>
				<div class="footer__text footer__text--desktop">
					<p>© 2025 Octane Fuel. All Rights Reserved.</p>
					<p>By using this site, you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a></p>
				</div>
			</div>
			<div class="footer__links">
				<div class="footer__group">
					<h3>Connect</h3>
					<ul>
						<li>
							<img src="assets/img/ig.webp" alt="">
							<a href="#">Instagram</a>
						</li>
						<li>
							<img src="assets/img/fb.svg" alt="">
							<a href="#">Facebook</a>
						</li>
						<li>
							<img src="assets/img/in.svg" alt="">
							<a href="#">Linkedln</a>
						</li>
						<!-- <li>
							<img src="assets/img/yt.webp" alt="">
							<a href="#">YouTube</a>
						</li>
						<li>
							<img src="assets/img/tt.webp" alt="">
							<a href="#">TikTok</a>
						</li> -->
					</ul>
				</div>
				<div class="footer__group">
					<h3>Support</h3>
					<ul>
						<li>
							<a href="#">Apply for a Card</a>
						</li>
						<li>
							<a data-popup="app" href="#">Download the App</a>
						</li>
						<li>
							<a href="#">Activate Your Card</a>
						</li>
						<!-- <li>
							<a href="#">Manage Account</a>
						</li>
						<li>
							<a href="#">Report an Issue</a>
						</li>
						<li>
							<a href="#">Help Centre</a>
						</li> -->
					</ul>
				</div>
			</div>
			<div class="footer__text footer__text--mobile">
				<p>© 2025 Octane Fuel. All Rights Reserved.</p>
				<p>By using this site, you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a></p>
			</div>
		</div>
	</div>
</footer>