<header class="header">
	<div class="container">
		<a href="#" class="logo">
			<img src="assets/img/logo.svg" alt="">
		</a>
		<ul class="header__menu">
			<li>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">How It Works</a>
			</li>
			<li>
				<a href="#">Features</a>
			</li>
			<li>
				<a href="#">Drivers</a>
			</li>
			<li>
				<a href="#">Help</a>
			</li>
		</ul>
		<div class="header__actions">
			<a class="btn btn-border" target="_blank" href="https://octane-web.com/">Login</a>
			<a class="btn btn-border" href="#">Get card</a>
			<a class="btn btn-border" href="#">download app</a>
		</div>
	</div>
</header>