//=============================================
// Hero - Section
//=============================================
.hero
	height: 600px
	
	h1
		font-size: 56px
		line-height: 120%
		+med

	p
		margin: 20px 0 40px
		+lig
		font-size: 18px
		line-height: 130%

	&__inner
		display: grid
		align-items: center
		grid-template-columns: 1fr 1fr
		position: relative

	&__actions
		display: flex
		align-items: center
		grid-gap: 20px

	&__media
		height: 600px
		position: relative

		img
			position: absolute
			bottom: 0
			right: 0
			height: 100%
			object-fit: contain
			object-position: bottom

//=============================================
// Features - Section
//=============================================
.features
	padding: 100px 0

	&__list
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-gap: 30px

	&__item
		+br(8px)
		position: relative
		border: 1px solid rgba($b1, .2)
		padding: 30px 20px
		display: flex
		align-items: center
		grid-gap: 20px

		img
			width: 80px
			height: 80px
			object-fit: contain

		h4
			font-size: 20px
			+med
		
		p
			font-size: 18px
			+lig
			margin-top: 10px

	&__footer
		margin-top: 50px
		display: flex
		align-items: center
		flex-direction: column
		p
			font-size: 20px
			+med
			margin-bottom: 20px

//=============================================
// Facts - Section
//=============================================
.facts
	padding-bottom: 100px
	
	&__bottom
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-gap: 60px
		margin-top: 60px
	
	&__item
		border-top: 1px solid $b1
		padding-top: 20px

		&:last-child
			border-top-color: transparent
			display: flex
			justify-content: flex-end
			align-items: flex-end

		h3
			font-size: 48px
			+med
		
		p
			font-size: 18px
			+lig
			margin-top: 10px

//=============================================
// How it works - Section
//=============================================
.how
	padding: 100px 0

	&__inner
		display: grid
		grid-template-columns: 1fr 1fr
		grid-gap: 100px

	&__media
		display: flex
		justify-content: center

	&__list
		margin: 50px 0
		display: flex
		flex-direction: column
		grid-gap: 30px

	&__item
		display: flex
		align-items: center
		grid-gap: 20px

		span
			border: 1px solid $primary
			color: $primary
			font-size: 16px
			+med
			display: block
			width: 48px
			height: 48px
			+br(50%)
			+flex

		h4
			font-size: 20px
			+med
		
		p
			font-size: 18px
			+lig
			margin-top: 10px

	&__actions
		display: flex
		align-items: center
		grid-gap: 20px

//=============================================
// Mobile App - Section
//=============================================
.app
	background: linear-gradient(to bottom, #F5F5F5 35%, #FF840A 80%, #FF520A 100%)
	margin-bottom: 100px

	&__header
		text-align: center
		h2
			font-size: 48px
			+med
			line-height: 120%
		p
			font-size: 18px
			+lig
			margin: 30px 0

	&__actions
		display: flex
		align-items: center
		grid-gap: 20px
		justify-content: center

	&__inner
		display: grid
		grid-template-columns: 1fr 22em 1fr
		align-items: center
		grid-gap: 100px
		margin-top: 60px

	&__item
		// border: 1px solid yellow
		position: relative

	&__left,
	&__right
		background: rgba($f5,.7)
		border: 1px solid rgba($w, .2)
		+br(8px)
		padding: 20px
		h4
			font-size: 24px
			+med
			line-height: 110%
		p
			+lig
			font-size: 18px
			margin-top: 10px

	&__middle
		height: 45rem
		overflow: visible
		margin-bottom: -5em
		// display: flex
		// align-items: flex-start
		// justify-content: center
		+br(47px)

		video
			max-width: 100%
			// width: 100%
			width: 21rem
			height: 44rem
			object-fit: cover
			display: block
			vertical-align: middle
			+br(47px)

	.phone-mockup
		position: absolute
		height: 45.5rem
		width: 100%
		top: -10px
		left: -8px
		background-image: url(../img/phone-mockup.png)
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		z-index: 2

//=============================================
// Card - Section
//=============================================
.card
	padding: 100px 0

	&__inner
		display: grid
		grid-template-columns: 1fr 1fr
		align-items: center
		grid-gap: 40px

	&__list
		margin: 50px 0
		display: flex
		flex-direction: column
		grid-gap: 30px

		h4
			font-size: 20px
			+med
			display: flex
			grid-gap: 10px
			align-items: center

		p
			font-size: 18px
			+lig
			margin-top: 10px

//=============================================
// Table - Section
//=============================================
.table
	padding-bottom: 100px

	.comp-table
		display: grid
		grid-template-columns: 1fr 1fr 1fr
		grid-gap: 40px
		+br(8px)
		// padding: 20px
		margin-top: 160px
		padding-right: 40px
		background: $w
		width: 100%
		position: relative
		margin-bottom: 110px

	.comp-content
		background: #fafafa
		box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1)
		position: absolute
		right: 0
		top: -60px
		width: 400px
		+br(8px)
		overflow: hidden

	.comp-octane
		right: calc(400px + 80px)
	.comp-other
		right: 40px

	.header-item:first-child
		background: transparent
		border: none

	.header-item
		// text-align: center
		padding: 10px 20px
		+flex
		img
			margin: 0 auto
			height: 40px

	.header-item,
	.row-value
		background: #fafafa
		padding: 20px
		border-top: 1px solid #EAE8E8
		height: 60px

	.row-label
		padding: 20px 32px
		font-size: 18px
		+med
		height: 60px

	.row-value
		font-size: 18px
		+lig
		display: flex
		align-items: center
		grid-gap: 10px

	&__actions
		display: flex
		align-items: center
		justify-content: center

//=============================================
// Feedback - Section
//=============================================
.feedback
	padding-bottom: 100px
	.section__title
		position: sticky
		top: 10px
		align-self: start
		z-index: 1
	&__inner
		display: grid
		grid-template-columns: 360px 1fr
		grid-gap: 40px
		align-items: start
	&__list
		display: flex
		flex-direction: column
		grid-gap: 30px
	&__item
		display: grid
		grid-template-columns: 180px 2fr 200px
		grid-gap: 20px
		padding: 10px
		+br(8px)
		background: $w
		position: relative
		overflow: hidden
		&::after
			content: ''
			display: block
			position: absolute
			top: 0
			right: 0
			width: 200px
			height: 100%
			background: linear-gradient(to right, rgba(#FFDD1E, 0) 0%, #FF520A 100%)
	&__ava
		img
			width: 180px
			height: 180px
			overflow: hidden
			+br(8px)
	&__info
		padding: 10px 0
		display: flex
		flex-direction: column
		justify-content: space-between
		p
			font-size: 18px
			+lig
			line-height: 120%
		h4
			+med
			font-size: 18px
		span
			font-size: 14px
			+lig
			display: block
			margin-top: 4px
	&__position
		border-left: 1px solid $c9
		display: flex
		flex-direction: column
		justify-content: flex-end
		align-items: flex-end
		padding: 20px
		z-index: 2
		position: relative
		h3
			font-size: 24px
			+med
		span
			color: $b
			font-size: 18px
			display: block
			margin-top: 6px
			text-align: right

//=============================================
// Offers - Section
//=============================================
.offers
	padding: 100px 0

	&__arrows
		display: flex
		align-items: flex-start
		grid-gap: 10px
		&-btn
			cursor: pointer
			display: block
			width: 40px
			height: 40px
			transition: transform 0.3s ease
			svg
				display: block
				width: 100%
				height: 100%
				rect
					transition: fill 0.3s ease, stroke 0.3s ease
				path
					transition: fill 0.3s ease
		&-left
			transform: rotate(180deg)
			&:hover
				transform: rotate(180deg) translateX(5px)
		&-right:hover
			transform: translateX(5px)
		&-btn:hover
			svg
				rect
					fill: $primary
					stroke: $primary
				path
					fill: $w

	&__slider
		margin-top: 50px

		&.swiper
			overflow: visible !important

		.swiper-wrapper-reset
			transform: translate3d(0, 0, 0) !important

	&__item
		+br(8px)
		background: linear-gradient(180deg, rgba(255, 82, 10, 0.2) 0%, rgba(255, 209, 30, 0.2) 100%)
		overflow: hidden
		&.right
			.offers__media
				display: flex
				justify-content: flex-end
		&.center
			.offers__media
				display: flex
				justify-content: center
		&.stretch
			.offers__media
				img
					width: 100%

	&__text
		padding: 30px
		h3
			font-size: 24px
			+med
		ul
			display: flex
			flex-direction: column
			grid-gap: 10px
			margin: 10px 0 0 !important
			list-style-type: disc
			padding-left: 30px
		li
			+lig
			font-size: 18px
	&__actions
		display: flex
		align-items: center
		grid-gap: 25px
		padding: 0 30px
	&__media
		margin-top: 30px
		img
			width: fit-content

//=============================================
// FAQ - Section
//=============================================
.faq
	padding-bottom: 100px

	&__list
		margin-top: 40px
		display: grid
		grid-template-columns: 1fr 1fr
		grid-gap: 40px 30px
		align-items: start

	&__item
		border-bottom: 1px solid $c9

	&__header
		padding-bottom: 30px
		display: flex
		align-items: center
		justify-content: space-between
		cursor: pointer
		user-select: none

		h4
			font-size: 20px
			+med

		button
			background: none
			border: none
			cursor: pointer
			padding: 0
			display: flex
			align-items: center
			justify-content: center
			transition: transform 0.3s ease

	&__text
		max-height: 0
		overflow: hidden
		transition: max-height 0.3s ease, padding 0.3s ease
		padding: 0

		p
			font-size: 18px
			+lig
			line-height: 140%

	&__item.active &__text
		max-height: 500px
		padding-bottom: 30px

	&__item.active &__header button
		transform: rotate(45deg)